Repository w3c/dxwg, pull requests merged in 2018-07, with the labels that each got.

#291 Remove minor nits left behind in copy-and-paste
  dcat/index.html
  dcat/rdf/dcat.ttl
Labels: bug, dcat

#298 SHOULD/MUST/MAY/NOT
  dcat/index.html
Labels: bug, dcat

#296 Remove resolved issues from editors draft
  dcat/index.html
  dcat/rdf/dcat.ttl
Labels: dcat

#299 Note on reduced scope of dcat:Distribution
  dcat/index.html
Labels: dcat, dcat:DataService, dcat:Distribution

#200 Revision to UC19
  ucr/index.html
Labels: ucr

#293 Updated URLs of referenced specifications
  ucr/index.html
Labels: ucr

#307 fix mediaType examples
  dcat/index.html
Labels: bug, dcat

#297 Add dct:conformsTo to dcat:Distribution
  dcat/UML/DCAT-summary.png
  dcat/index.html
Labels: dcat, dcat:Distribution

#304 Adjust global range of dcat:mediaType to dct:MediaType
  dcat/index.html
  dcat/rdf/dcat.ttl
Labels: dcat, dcat:Distribution

#295 Dataset -> resource/file relations
  dcat/UML/DCAT-summary.png
  dcat/index.html
  dcat/rdf/dcat.ttl
Labels: change-proposal, dcat, dcat:Dataset

#308 Additional examples of use of dct:type,
  dcat/index.html
Labels: dcat, dcat:Dataset, dcat:Resource
