Repository w3c/dxwg, pull requests merged in 2018-02, with the labels that each got.

#97 Dropped (commented) domain of dcat:contactPoint
  dcat/index.html
  dcat/rdf/dcat.ttl
Labels: change-proposal, dcat, dcat:contactPoint

#108 dcat:Dataset type
  dcat/images/dcat-model-1.jpg
  dcat/index.html
  dcat/rdf/dcat.ttl
Labels: dcat, dcat:Dataset

#115 more guidance on use of controlled vocabularies required
  dcat/index.html
Labels: dcat, dcat:Dataset, documentation

#129 embed issue links in DCAT draft
  dcat/index.html
Labels: dcat, documentation

#94 Create PROV-alignment module
  dcat/rdf/dcat.ttl
  dcat/rdf/prov.ttl
Labels: alignment, dcat, dcat:CatalogRecord, dcat:Dataset, meta-level & methodology, packaging, provenance, relationships, requires discussion
