Repository w3c/dxwg, pull requests merged in 2018-11, with the labels that each got.

#539 Conneg doc changes from mini-workshop
  conneg-by-ap/extra.css
  conneg-by-ap/index.html
Labels: profile-negotiation

#518 Adding dct:conformsTo to dcat:CatalogRecord
  dcat/index.html
Labels: dcat

#541 Suggested edits for the conneg-by-profile document
  conneg-by-ap/index.html
Labels: profile-negotiation

#532 Profilesont doc
  profilesont/alignment_dcat_classes.png
  profilesont/alignment_dcat_properties.png
  profilesont/config-roles.js
  profilesont/diagrams.pptx
  profilesont/examples/eg_dcat-ap.png
  profilesont/examples/eg_dcat.png
  profilesont/examples/eg_ga.png
  profilesont/examples/eg_hierarchy.png
  profilesont/examples/eg_ogc.png
  profilesont/index.html
  profilesont/profilesont.png
  profilesont/profilesont.ttl
  profilesont/resource_roles.html
  profilesont/resource_roles.png
  profilesont/resource_roles.ttl
  profilesont/style.css
Labels: profile-description

#533 Updating list of editors
  conneg-by-ap/config.js
  conneg-by-ap/index.html
Labels: profile-negotiation

#552 Typos only - minor
  conneg-by-ap/index.html
Labels: profile-negotiation

#556 Fixes #555
  profilesont/profilesont.ttl
Labels: profile-description

#562 Added testSuiteURI field
  profilesont/config.js
Labels: profile-guidance

#566 Editorial changes
  conneg-by-ap/index.html
Labels: profile-negotiation

#565 Editorial changes
  conneg-by-ap/config.js
Labels: profile-negotiation

#558 Editorial changes
  profilesont/index.html
Labels: profile-description

#567 Update config.js
  conneg-by-ap/config.js
Labels: profile-negotiation

#564 Made conformance section compliant with re-spec
  profilesont/index.html
Labels: profile-description

#557 Editorial changes
  profilesont/config.js
Labels: profile-description

#554 Adding reference to issue 551 in prof-ont document
  profilesont/index.html
Labels: profile-description

#576 Changed shortName (conneg-by-ap -> prof-conneg)
  conneg-by-ap/config.js
Labels: profile-negotiation

#578 Editorial fixes wrt DCAT-AP references
  profilesont/index.html
Labels: profile-description

#581 Remove duplicate text in conformance section
  conneg-by-ap/index.html
Labels: profile-negotiation

#582 Updated headings for §7.1 and §7.2
  conneg-by-ap/index.html
Labels: profile-negotiation

#580 Updated Figure 1
  dcat/UML/DCAT-summary-all-attributes.png
Labels: dcat, editorial

#585 Added bib entries and fixed dates
  dcat/config.js
Labels: dcat, editorial

#586 Added bib refs in §6.8.2 + minor fixes
  dcat/index.html
Labels: dcat, editorial

#590 Ont fpwd edits
  profilesont/config.js
  profilesont/index.html
  profilesont/profilesont.ttl
  profilesont/resource_roles.html
  profilesont/resource_roles.ttl
Labels: profile-description

#550 Reviewed and re-structured profile requirements
  ucr/index.html
Labels: profile-guidance, profile-negotiation, ucr

#610 Move alignment stubs to annex
  dcat/index.html
Labels: alignment, dcat

#612 Addressing issue 431
  dcat/index.html
Labels: dcat

#609 Fix schema.org alignment
  dcat/UML/schema.org-dataset.png
  dcat/index.html
  dcat/rdf/dcat-schema.ttl
Labels: alignment, dcat, schema.org
