Repository w3c/dxwg, pull requests merged in 2018-10, with the labels that each got.

#427 minor editorial change on reference and adding link to open issues
  dcat/config.js
  dcat/index.html
Labels: dcat

#429 Add link to open issue concerning information equivalence of distributions
  dcat/index.html
Labels: dcat, dcat:Distribution

#441 Editorial changes (ACTION-228)
  dcat/config.js
  dcat/index.html
Labels: dcat

#440 Improve documentation of dcat:Distribution
  dcat/index.html
Labels: dcat, dcat:DataService, dcat:Distribution

#439 Shuffle related work examples
  profiles/index.html
Labels: profile-description

#445 Text pointing to profiles guidance doc
  dcat/index.html
Labels: dcat, editorial

#447 Small grammatical/spelling changes
  dcat/index.html
Labels: dcat

#458 Cleaned normative statements and references from non-normative sections
  dcat/index.html
Labels: dcat, editorial

#466 Slightly richer abstract and introduction for profiles ontology
  profilesont/index.html
Labels: editorial, profile-description

#442 Update index.html
  dcat/index.html
Labels: dcat

#471 Refactor DCAT examples
  dcat/examples/dataset-004.ttl
  dcat/index.html
Labels: dcat, dcat:DataService

#480 Guidance doc updates
  profiles/index.html
Labels: profile-guidance

#484 Moving some definition to appendix
  profiles/index.html
Labels: profile-guidance

#489 Change of structure discussed in Oct 24 discussion in Lyon
  profiles/index.html
Labels: profile-guidance

#495 Conneg doc
  conneg-by-ap/config.js
  conneg-by-ap/index.html
Labels: profile-negotiation

#459 Copied lists of inherited properties into class descriptions
  dcat/UML/DCAT-summary-all-attributes.png
  dcat/index.html
Labels: dcat, dcat:Catalog, dcat:DataService, dcat:Dataset, dcat:Resource

#506 Update overview of DXWG documents
  profiles/index.html
Labels: profile-guidance

#509 Removing 'DXWG family of documents section' - closes #508
  dcat/index.html
Labels: dcat
