Repository w3c/dxwg, pull requests merged in 2018-03, with the labels that each got.

#155 Fixed case in bib refs
  dcat/index.html
Labels: dcat

#165 dcat v1.0 profile
  dcat/rdf/dcat.ttl
  dcat/rdf/dcat10.ttl
Labels: dcat, profile

#167 Added UC18 to RDIS
  ucr/index.html
Labels: ucr

#142 Update index.html
  profiles/index.html
Labels: profile

#141 Update config.js
  profiles/config.js
Labels: ucr

#133 Update value of shortName field
  ucr/config.js
Labels: ucr

#171 Relax global domain constraints on theme, keyword, landingPage
  dcat/index.html
  dcat/rdf/dcat.ttl
  dcat/rdf/dcat10.ttl
Labels: dcat, dcat:theme, resolution

#173 Add more placeholders for potential DCAT extensions
  dcat/config.js
  dcat/index.html
Labels: change-proposal, dcat, documentation

#178 Editorial changes
  dcat/rdf/dcat.ttl
Labels: dcat, translation

#177 Dcat italian translation By riccardo
  dcat/rdf/dcat.ttl
Labels: dcat, translation

#185 Populated changelog + ed changes
  dcat/index.html
Labels: dcat
