Repository w3c/dxwg, pull requests merged in 2018-12, with the labels that each got.

#615 DCAT affiliation change daveb
  dcat/config.js
  dcat/rdf/dcat.ttl
Labels: editorial

#607 Revised Section 9 (License and rights statements)
  dcat/config.js
  dcat/index.html
Labels: dcat

#616 Corrected version wrt GeoDCAT-AP_IT
  profilesont/diagrams.pptx
Labels: profile-description

#611 qualified attribution pattern
  dcat/index.html
  dcat/rdf/dcat.ttl
Labels: dcat

#620 Fixed spec status on GH
  profilesont/config.js
Labels: profile-description

#619 edits for vocabulary overview
  dcat/index.html
Labels: dcat

#618 draft DCAT 2018 to ISO19115-3 and 19139 mapping
  DCAT-ISO19115-mapping.xlsx
Labels: dcat

#622 Addressing text of the conformsTo property in both: dcat:Resource and…
  dcat/index.html
Labels: dcat, editorial

#623 Editorial revision to Section 12.1 - Schema.org
  dcat/index.html
Labels: dcat

#627 Nick moved from author to editor
  profiles/config.js
  profiles/index.html
Labels: profile-guidance

#614 Dcat issue53 riccardo
  dcat/index.html
Labels: dcat, identification
