Repository w3c/dxwg, pull requests merged in 2018-09, with the labels that each got.

#337 Update URLs to DataCite / DCAT-AP mapping
  ucr/index.html
Labels: ucr

#340 Updates to Profile Guidance doc from meeting 2018-09-06
  profiles/config.js
  profiles/fig-conceptualmodeloverview.png
  profiles/figures.pptx
  profiles/index.html
Labels: profile-guidance

#349 Add ref to OGC and ISO work on dependencies
  profiledesc/OGC-modspec.PNG
  profiledesc/config.js
  profiledesc/index.html
Labels: profile-description

#351 Explain removal of subclass relationship between dcat:Dataset and dctype:Dataset.
  dcat/index.html
Labels: dcat, dcat:Dataset

#348 Clarify UML summary diagram, and figure caption
  dcat/UML/DCAT-summary-all-attributes.png
  dcat/index.html
Labels: dcat, editorial

#345 Examples of data services
  dcat/examples/eea-csw.ttl
  dcat/examples/ga-courts.ttl
  dcat/examples/ga-wms.ttl
  dcat/examples/threddsABC.ttl
  dcat/index.html
Labels: dcat, dcat:DataService

#358 Remove superfluous note and stray figure
  dcat/index.html
Labels: dcat, editorial

#354 Dcat alignments schema
  dcat/index.html
  dcat/rdf/dcat-schema.ttl
  dcat/small.css
  dcat/style.css
Labels: alignment, dcat, schema.org

#397 Better code formatting - nice yellow boxes
  dcat/index.html
Labels: dcat, editorial
