Repository w3c/dxwg, pull requests merged in 2019-07, with the labels that each got.

#965 Fixed link for range of dcat:hadRole
  dcat/index.html
Labels: dcat, editorial

#982 PR for issue #966
  dcat/index.html
Labels: critical, dcat, editorial

#977 adding cataloged resources explicitly ( for issue #967)
  dcat/index.html
Labels: critical, dcat

#969 Split namespace table into normative and non-normative
  dcat/index.html
Labels: dcat, editorial

#986 Addressing feedback (in issue #935)
  dcat/index.html
  dcat/rdf/dcat.ttl
Labels: critical, dcat, editorial

#995 Update config.js
  conneg-by-ap/config.js
Labels: profile-negotiation

#991 removed contentious statements about nature of DCMI documents
  conneg-by-ap/index.html
Labels: profile-negotiation

#951 Updated OAI-PMH section mentioning metadataPrefix
  conneg-by-ap/index.html
Labels: profile-negotiation

#948 removing closed issues
  conneg-by-ap/index.html
Labels: profile-negotiation

#993 Update index.html
  conneg-by-ap/index.html
Labels: profile-negotiation

#988 Remove w3cgeo lat/long/alt recommendation
  dcat/index.html
  dcat/rdf/dcat.ttl
Labels: dcat, dct:spatial, feedback

#999 PR to address issue #934
  dcat/index.html
  dcat/rdf/dcat.ttl
Labels: critical, dcat, editorial

#981 Completing the Spanish translations + other fixes to dcat.ttl
  dcat/rdf/dcat.ttl
Labels: dcat, editorial

#1006 Fix two minor issues that were preventing OWLAPI loading dcat.ttl
  dcat/rdf/dcat.ttl
Labels: bug, dcat, feedback

#1005 PR accepting suggestion in issue #973
  dcat/index.html
  dcat/rdf/dcat.ttl
Labels: dcat, editorial

#1003 Changes to scopeNote for dcat:Resource according to issue #980
  dcat/index.html
  dcat/rdf/dcat.ttl
Labels: dcat, editorial

#1004 adding the Italian translation for the scope note mentioned in issue 980
  dcat/rdf/dcat.ttl
Labels: dcat, editorial

#936 Add Czech translation
  dcat/rdf/dcat.ttl
Labels: dcat

#1007 PR addressing issue958
  dcat/examples/csiro-dap-examples.jsonld
  dcat/examples/csiro-dap-examples.ttl
  dcat/examples/csiro-stratchart-sdo.ttl
  dcat/examples/csiro-stratchart.ttl
  dcat/examples/dataset-004-sdo.ttl
  dcat/examples/dryad-globtherm-sdata.ttl
  dcat/examples/ga-courts.ttl
  dcat/examples/ga-wms.ttl
  dcat/examples/relation-examples.ttl
  dcat/examples/threddsABC.ttl
  dcat/index.html
Labels: dcat, editorial

#997 Addressing #984: inserted DCAT 2.0 in English, Italian and Spanish change notes
  dcat/rdf/dcat.ttl
Labels: critical, dcat, editorial

#1008 Further tweaks to distribution explanations.
  dcat/index.html
Labels: dcat, editorial

#994 Update index.html
  conneg-by-ap/index.html
Labels: profile-negotiation

#996 Pull addressing issue #987
  dcat/rdf/dcat.ttl
Labels: critical, dcat

#1014 Conneg Definitions
  conneg-by-ap/index.html
Labels: profile-negotiation

#1019 example as per Issue 287
  conneg-by-ap/index.html
Labels: profile-negotiation

#907 Prof 3pwd editorial
  profilesont/config.js
  profilesont/figures/isTransitiveProfileOf.svg
  profilesont/index.html
Labels: profiles-vocabulary

#1012 Date/time clarification..
  dcat/index.html
Labels: dcat, editorial, feedback

#1018 Conformance profiles
  conneg-by-ap/index.html
  conneg-by-ap/profile-hierarchy.svg
Labels: profile-negotiation

#1021 DCAT: Ack section updated + ed changes
  dcat/config.js
  dcat/index.html
Labels: dcat
