Repository w3c/dxwg, pull requests merged in 2019-02, with the labels that each got.

#724 Consolidating property definitions for catalog
  dcat/index.html
  dcat/rdf/dcat.ttl
Labels: dcat

#712 Minor editorial changes
  ucr/index.html
Labels: editorial, ucr

#719 DCAT Issue 702 - Added ? to all refs not explicitly marked as normative
  dcat/config.js
  dcat/index.html
Labels: dcat, editorial

#733 DCAT Issue 702 (again) make DWBP and VCARD-RDF non-normative
  dcat/index.html
Labels: dcat

#735 Change to dcat:Distribution definition and note
  dcat/index.html
Labels: dcat

#742 Fix to additional contributors' affiliations
  dcat/config.js
Labels: dcat, editorial

#743 Changing some note's into ednote's
  dcat/index.html
Labels: dcat, editorial

#740 DCAT issue 655 - Align endpointURL definition with the other aaaURL properties
  dcat/index.html
  dcat/rdf/dcat.ttl
Labels: dcat, dcat:DataService

#738 Updates Intro
  profiles/index.html
Labels: profile-description

#752 DCAT issue 751 - accessService is not sub-property of accessURL
  dcat/index.html
  dcat/rdf/dcat.ttl
Labels: dcat, dcat:Distribution

#760 Updates intro 2
  profiles/index.html
Labels: profile-guidance

#759 Editorial revisions to ID section
  dcat/index.html
Labels: dcat, editorial, identification

#730 Richer typing of relations in bag-of-files case
  dcat/examples/csiro-stratchart-schema.jsonld
  dcat/examples/csiro-stratchart.schema.ttl
  dcat/examples/csiro-stratchart.ttl
  dcat/index.html
Labels: dcat, dcat:Distribution

#750 PR addressing issue #675
  dcat/index.html
Labels: dcat

#768 Profiles Ontology -> Profiles Vocabulary
  README.md
  conneg-by-ap/index.html
  profiles/index.html
  profilesont/README.md
  profilesont/config-roles.js
  profilesont/examples/README.md
  profilesont/examples/dcat.svg
  profilesont/examples/dccat-ap.svg
  profilesont/index.html
  profilesont/ns.html
  profilesont/profilesont.rdf
  profilesont/profilesont.ttl
  profilesont/resource_roles.html
  profilesont/resource_roles.ttl
Labels: profile-description

#757 Address #677
  conneg-by-ap/index.html
Labels: content-negotiation

#756 Address #542
  conneg-by-ap/config.js
Labels: content-negotiation

#746 Packaging and compression of files in a distribution
  dcat/index.html
  dcat/rdf/dcat.ttl
Labels: dcat, dcat:Distribution

#708 Paper reviews
  conneg-by-ap/config.js
  conneg-by-ap/index.html
  profiles/config.js
  profiles/index.html
  profilesont/config-roles.js
  profilesont/config.js
  profilesont/examples/README.md
  profilesont/examples/dcat-ap.svg
  profilesont/examples/dcat.svg
  profilesont/examples/eg_ga.png
  profilesont/examples/eg_hierarchy.png
  profilesont/examples/epub.svg
  profilesont/examples/ga.svg
  profilesont/examples/hierarchy.svg
  profilesont/examples/initial.svg
  profilesont/examples/isInheritedFrom.svg
  profilesont/index.html
  profilesont/profilesont.vsdx
Labels: profile-description

#772 Examples for compression and packaging of distributions
  dcat/examples/compress-and-package.ttl
  dcat/index.html
Labels: dcat

#734 Issue 644
  profilesont/examples/isTransitiveProfileOf.svg
  profilesont/index.html
  profilesont/profilesont.ttl
Labels: profile-description

#745 Prof examples
  profilesont/examples/README.md
  profilesont/examples/adms.svg
  profilesont/examples/adms.ttl
  profilesont/examples/dcat-ap.ttl
  profilesont/examples/dcat.ttl
  profilesont/examples/eg_EUDM.png
  profilesont/examples/eg_ga.ttl
  profilesont/examples/eg_ogc.png
  profilesont/examples/ga.svg
  profilesont/examples/ga.ttl
  profilesont/examples/ogc.ttl
  profilesont/examples/pav.ttl
  profilesont/examples/profilesont_examples.ttl
  profilesont/full-constraints.ttl
  profilesont/index.html
  profilesont/profile.ttl
  profilesont/profilesont.vsdx
  profilesont/resource_roles.ttl
Labels: profile-description

#773 Data citation section
  dcat/index.html
Labels: data-citation, dcat

#776 DCAT - temporal resolution
  dcat/index.html
  dcat/rdf/dcat.ttl
Labels: dcat, dcat:Dataset, dcat:Distribution, dct:temporal, statistics
