Repository w3c/dxwg, pull requests merged in 2019-03, with the labels that each got.

#777 DCAT spatial resolution
  dcat/index.html
  dcat/rdf/dcat.ttl
Labels: dcat, dcat:Dataset, dcat:Distribution, dct:spatial, statistics

#786 pneg sprint 2019 02 28
  conneg-by-ap/config.js
  conneg-by-ap/index.html
Labels: profile-negotiation

#787 Update index.html
  conneg-by-ap/index.html
Labels: profile-negotiation

#790 Issue 731
  profilesont/examples/isInheritedFrom.svg
  profilesont/index.html
Labels: profile-description

#804 Addressing comments in Issue 689
  profilesont/examples/dcat-ap.svg
  profilesont/examples/hierarchy.svg
  profilesont/index.html
  profilesont/profilesont.vsdx
Labels: feedback, profile-description

#784 DCAT - definition of accrualPeriodicity
  dcat/index.html
  dcat/rdf/dcat.ttl
Labels: dcat, dcat:Dataset, requires discussion

#783 Add ARK to related work
  conneg-by-ap/config.js
  conneg-by-ap/index.html
Labels: profile-negotiation

#793 Update index.html
  conneg-by-ap/index.html
Labels: profile-negotiation

#813 Update index.html
  conneg-by-ap/index.html
Labels: profile-negotiation

#814 Added sections for acknowledgements and changes
  conneg-by-ap/index.html
Labels: profile-negotiation

#805 Annette dataservices
  dcat/UML/DCAT2.png
  dcat/UML/DCAT2.svg
  dcat/index.html
Labels: dcat

#819 Update index.html
  conneg-by-ap/index.html
Labels: editorial, profile-negotiation

#818 Purge closed issue notes &
  dcat/index.html
Labels: critical, dcat, editorial

#741 Contributors & Editors (DCAT) spec
  dcat/config.js
Labels: dcat, editorial

#815 Conneg ap merge list tokens
  conneg-by-ap/index.html
  profilesont/index.html
  profilesont/profilesont.ttl
Labels: profile-description, profile-negotiation

#829 Updates to section 1, 2 (intro) 2.1 and A.2 for call Feb 2019
  profiles/index.html
Labels: profile-guidance

#779 Removing reference to issue 72
  dcat/config.js
  dcat/index.html
Labels: dcat, editorial

#830 Prof examples
  profilesont/README.md
  profilesont/examples/adms.svg
  profilesont/examples/adms.ttl
  profilesont/examples/csiro-dummy-dcap.svg
  profilesont/examples/csiro-dummy-dcap.ttl
  profilesont/examples/dcat-ap.svg
  profilesont/examples/dcat.svg
  profilesont/examples/ga.svg
  profilesont/examples/ga.ttl
  profilesont/examples/hierarchy.svg
  profilesont/examples/initial.svg
  profilesont/figures/broaderTransitive.jpg
  profilesont/figures/initial.svg
  profilesont/figures/isInheritedFrom.svg
  profilesont/figures/isTransitiveProfileOf.svg
  profilesont/figures/profilesont.svg
  profilesont/index.html
  profilesont/profilesont.svg
Labels: profile-description

#833 Prof motivation section includes links to UCR sections
  profilesont/index.html
Labels: editorial, profile-description

#831 fixing implementationReportURI & testSuiteURI
  profilesont/config.js
Labels: editorial, profile-description

#827 Prof defns
  profilesont/alignments/adms.svg
  profilesont/alignments/adms.ttl
  profilesont/alignments/dcat.svg
  profilesont/alignments/dcat.ttl
  profilesont/alignments/dct.svg
  profilesont/alignments/dct.ttl
  profilesont/alignments/owl.svg
  profilesont/alignments/owl.ttl
  profilesont/alignments/skos.svg
  profilesont/alignments/voaf.svg
  profilesont/alignments/voaf.ttl
  profilesont/index.html
  profilesont/profilesont.ttl
Labels: editorial, profile-description

#828 Updated PROF alignments, as per DXWG wiki
  profilesont/index.html
Labels: editorial, profile-description

#780 Draft of sentence addressing issues #90 and #93 about versions
  dcat/index.html
Labels: critical, dcat, versioning

#836 Text for Security and Privacy Section
  dcat/index.html
Labels: critical, dcat

#839 Dcat deleting issues riccardo
  dcat/index.html
Labels: dcat, editorial

#822 Move schema.org alignment to annexe
  dcat/UML/schema.org-dataset.png
  dcat/examples/dataset-004-sdo.ttl
  dcat/index.html
Labels: alignment, dcat, editorial

#845 Editorial change
  dcat/config.js
Labels: dcat, editorial

#789 Further clarification for distributions
  dcat/index.html
Labels: critical, dcat, dcat:Distribution

#851 Drop ambiguous text
  dcat/index.html
Labels: dcat, editorial, feedback

#825 Remove DataDistributionService
  dcat/UML/DCAT-summary-all-attributes.png
  dcat/examples/csiro-stratchart.ttl
  dcat/examples/dataset-004.ttl
  dcat/examples/ga-courts.ttl
  dcat/examples/threddsABC.ttl
  dcat/index.html
  dcat/rdf/dcat.ttl
  dcat/rdf/dcat2014.ttl
Labels: critical, dcat, dcat:DataService

#834 PR to include instruction on how DCAT implementations will be…
  dcat/index.html
Labels: dcat

#854 Adding Spanish translations and aligning text to spec
  dcat/rdf/dcat.ttl
Labels: dcat

#862 Fixing dcat ttl riccardo
  dcat/rdf/dcat.ttl
Labels: critical, dcat

#859 fixes for Issue 858
  profilesont/figures/isInheritedFrom.svg
  profilesont/index.html
Labels: ON HOLD profile-description, editorial

#841 update issue reference
  profilesont/index.html
Labels: ON HOLD profile-description, editorial
