Repository w3c/dxwg, pull requests merged in 2019-04, with the labels that each got.

#823 editorial work on first c.300 lines
  dcat/index.html
Labels: dcat, editorial

#867 Remove explicit Provenance sections
  dcat/index.html
Labels: alignment, dcat, provenance

#866 Remove annex/chapter describing external alignments
  dcat/index.html
Labels: alignment, dcat

#864 fixed broken links for 2PWD
  profilesont/config.js
  profilesont/index.html
Labels: ON HOLD profile-description

#869 Dcat issue837 mentioning DCAT Future Priority
  dcat/index.html
Labels: critical, dcat

#874 Update index.html
  conneg-by-ap/index.html
Labels: content-negotiation, profile-negotiation

#876 Dcat attempt to provide italian translations
  dcat/rdf/dcat.ttl
Labels: dcat

#861 Updates to profile guidance sections 2.2 & 2.3
  profiles/figures/fig-multiple-base-spec.svg
  profiles/figures/fig-profile-of-profile.svg
  profiles/index.html
Labels: ON HOLD profile-guidance

#865 Update DCAT-schema.org mapping
  dcat/UML/schema.org-dataset.png
  dcat/index.html
Labels: alignment, critical, dcat, schema.org

#863 Editorial change
  dcat/config.js
  dcat/index.html
Labels: dcat

#878 Conneg 2pwd fixes
  conneg-by-ap/config.js
  conneg-by-ap/index.html
Labels: editorial

#879 removing subsection listprofiles-content
  conneg-by-ap/index.html
Labels: content-negotiation, feedback

#871 Dcat commenting references to issues that are not included in the backlog nor CR
  dcat/index.html
Labels: dcat

#870 Dcat commenting backlogissues
  dcat/index.html
Labels: critical, dcat

#880 Added ORCIDs
  dcat/config.js
Labels: dcat, editorial

#885 Removed disclaimer
  dcat/config.js
  dcat/index.html
Labels: dcat, editorial

#883 Added section on CSW
  conneg-by-ap/index.html
Labels: profile-negotiation

#559 small edits
  conneg-by-ap/index.html
Labels: profile-negotiation

#892 Organisation/person usage note
  dcat/index.html
Labels: critical, dcat

#889 Extending the ack section
  dcat/index.html
Labels: dcat, editorial

#894 Editorial changes
  dcat/config.js
  dcat/index.html
Labels: dcat, editorial

#898 making qsa realization for conneg non-normative
  conneg-by-ap/index.html
Labels: profile-negotiation

#897 Conneg 2pwd fixes
  conneg-by-ap/index.html
Labels: profile-negotiation

#899 issue #838 - commenting the remained backlog issues
  dcat/index.html
Labels: critical, dcat

#873 Move Linked Data Platform into Appendix
  dcat/index.html
Labels: alignment, critical, dcat

#902 DCAT: Editorial changes
  dcat/index.html
Labels: dcat, editorial

#900 Uniforming the position of editorial note and other minor editorial issues
  dcat/index.html
Labels: dcat, editorial

#901 DCAT: Editorial changes to ack section
  dcat/index.html
Labels: dcat

#905 Conneg 2 pwd
  conneg-by-ap/index.html
Labels: profile-negotiation

#906 Broken internal link..
  dcat/index.html
Labels: dcat, editorial

#908 remove implied mentions of data services that are not APIs
  dcat/index.html
Labels: dcat, dcat:DataService, editorial

#875 Verify code examples for consistency
  dcat/examples/compress-and-package.jsonld
  dcat/examples/compress-and-package.ttl
  dcat/examples/csiro-dap-examples.jsonld
  dcat/examples/csiro-stratchart-sdo.jsonld
  dcat/examples/csiro-stratchart-sdo.ttl
  dcat/examples/csiro-stratchart.jsonld
  dcat/examples/csiro-stratchart.schema.ttl
  dcat/examples/dataset-004-sdo.jsonld
  dcat/examples/dataset-004-sdo.ttl
  dcat/examples/dataset-004.jsonld
  dcat/examples/eea-csw.jsonld
  dcat/examples/ga-courts.jsonld
  dcat/examples/ga-wms.jsonld
  dcat/examples/relation-examples.jsonld
  dcat/examples/service1.jsonld
  dcat/examples/service1.ttl
  dcat/examples/threddsABC.jsonld
  dcat/examples/threddsABC.ttl
  dcat/index.html
Labels: dcat, editorial
