Repository w3c/dxwg, pull requests merged in 2019-05, with the labels that each got.

#909 Temporal & spatial encodings
  dcat/index.html
  dcat/rdf/dcat.ttl
Labels: dcat, dct:spatial, dct:temporal, requires discussion

#914 Removed script to cross-ref examples
  dcat/index.html
Labels: dcat, editorial

#915 Preserve LDP, remove from rec..
  dcat/alignments/LinkedDataPlatform
  dcat/index.html
Labels: alignment, critical, dcat

#910 Delete dcat-qualrel.ttl
  dcat/rdf/dcat-qualrel.ttl
Labels: dcat

#917 replacing foaf:seeAlso with rdfs:seeAlso in dcat.ttll
  dcat/rdf/dcat.ttl
Labels: critical, dcat

#903 Added definitions and scope-notes for dct: prov: foaf: and odrl: props
  dcat/rdf/dcat.ttl
Labels: dcat, editorial

#911 Relax range of dcat:themeTaxonomy
  dcat/index.html
  dcat/rdf/dcat.ttl
Labels: dcat, requires discussion

#807 Implementing proposals to address #83 & #85
  dcat/images/ex-spatial-coverage-bbox-netherlands.png
  dcat/images/ex-spatial-coverage-centroid-anne-frank-house.png
  dcat/images/ex-spatial-coverage-geometry-anne-frank-house.png
  dcat/index.html
  dcat/rdf/dcat.ttl
Labels: dcat, dct:spatial, dct:temporal, requires discussion

#803 PR to address the Dataset publications [RDSP] requirement
  dcat/examples/dryad-globtherm-sdata.ttl
  dcat/index.html
  dcat/rdf/dcat.ttl
Labels: dcat

#924 Trying to address some of the issues highlighted by OPSS
  dcat/rdf/dcat.ttl
Labels: dcat

#926 Update to editorial notes and change notes in ttl file
  dcat/rdf/dcat.ttl
Labels: dcat, editorial

#925 Verify all recommended properties are in diagram
  dcat/UML/DCAT-summary-all-attributes.png
  dcat/images/DCAT-relationships.png
  dcat/images/DCAT-summary-all-attributes.png
  dcat/images/schema.org-dataset.png
  dcat/index.html
Labels: dcat, editorial

#919 DCAT: Editorial fixes
  dcat/config.js
  dcat/index.html
Labels: dcat, editorial

#930 Update index.html
  dcat/index.html
Labels: dcat, editorial

#931 DCAT: Editorial fixes
  dcat/config.js
  dcat/images/ex-spatial-coverage-centroid-anne-frank-house.png
  dcat/images/ex-spatial-coverage-geometry-anne-frank-house.png
  dcat/index.html
Labels: dcat, editorial

#938 Revised subtitle - now "Version 2"
  dcat/config.js
Labels: dcat, editorial

#940 Added subtitle "Version 2" to title
  dcat/config.js
  dcat/index.html
Labels: critical, dcat, editorial

#941 DCAT: Fixing inconsistent use of "profile" / "application profile"
  dcat/config.js
  dcat/index.html
Labels: critical, dcat, editorial
