Repository w3c/dxwg, pull requests merged in 2019-08, with the labels that each got.

#1023 Minor text tidy...
  dcat/index.html
Labels: dcat, editorial

#1024 Addressing #1023 - Fix cardinality Catalog->Record
  dcat/images/DCAT-summary-all-attributes.png
  dcat/index.html
Labels: dcat, editorial

#1026 Conneg action 343
  conneg-by-ap/index.html
Labels: profile-negotiation

#1010 Addressing issue #725 - context for scope notes
  dcat/index.html
  dcat/rdf/dcat.ttl
Labels: dcat

#1044 Insert FEATURE AT RISK warnings
  dcat/index.html
Labels: dcat
