Repository w3c/dxwg, pull requests merged in 2019-10, with the labels that each got.

#1104 Fix Protege load errors
  dcat/rdf/dcat-external.jsonld
  dcat/rdf/dcat-external.rdf
  dcat/rdf/dcat-external.ttl
  dcat/rdf/dcat.jsonld
  dcat/rdf/dcat.rdf
  dcat/rdf/dcat.ttl
Labels: bug, dcat

#1121 Conneg email issues
  conneg-by-ap/index.html
Labels: profile-negotiation

#1120 Conneg issue 1118
  conneg-by-ap/index.html
Labels: profile-negotiation

#1119 copy edits to section 7.4
  conneg-by-ap/index.html
Labels: profile-negotiation

#1091 Prof issue 687
  prof/alignments/adms.svg
  prof/alignments/dcat.svg
  prof/alignments/dct.svg
  prof/alignments/owl.svg
  prof/alignments/skos.svg
  prof/alignments/voaf.svg
  prof/examples/adms.svg
  prof/examples/dcat-ap.svg
  prof/figures/initial.svg
  prof/figures/prof.svg
  prof/index.html
Labels: editorial, profiles-vocabulary

#1125 Changing owl version in all available languages
  dcat/rdf/dcat.ttl
Labels: dcat, editorial

#1122 fixed RDF errors in altP model's OWL
  conneg-by-ap/index.html
Labels: profile-negotiation

#1127 PR for issue 202 (uniforming dcat ttl literals)
  dcat/rdf/dcat-external.ttl
  dcat/rdf/dcat.ttl
Labels: dcat

#1135 Fix coordinate order in ga-courts example
  dcat/examples/ga-courts.jsonld
  dcat/examples/ga-courts.ttl
  dcat/index.html
Labels: bug, dcat, editorial

#1138 DCAT2 implementation report
  dcat-implementation-report/config.js
  dcat-implementation-report/img/fig-existing-implementations-distribution.svg
  dcat-implementation-report/img/fig-implementations-statistics.svg
  dcat-implementation-report/index.html
  dcat-implementation-report/table-implementations.html
  dcat-implementation-report/table-revisions-with-no-existing-implementations.html
  dcat-implementation-report/table-revisions.html
Labels: dcat, implementation-evidence

#1142 adding Nancy Fallgren and Chris Little to the Acknowledgments
  dcat/index.html
Labels: dcat, editorial

#1144 Fixing inconsistencies in DCAT2 implementation stats
  dcat-implementation-report/table-implementations.html
Labels: critical, dcat, editorial

#1143 Updated link to DCAT implementation report
  dcat/config.js
Labels: critical, dcat, editorial

#1140 Revised class descriptions wrt recommended properties
  dcat/index.html
Labels: dcat, editorial

#1145 Updates to DCAT implementation report
  dcat-implementation-report/img/fig-existing-implementations-distribution.svg
  dcat-implementation-report/img/fig-implementations-statistics.svg
  dcat-implementation-report/index.html
  dcat-implementation-report/table-implementations.html
  dcat-implementation-report/table-revisions-with-no-existing-implementations.html
  dcat-implementation-report/table-revisions.html
Labels: dcat, implementation-evidence

#1110 RDF and JSON versions generated using OWL-API
  dcat/rdf/dcat-external.jsonld
  dcat/rdf/dcat-external.rdf
  dcat/rdf/dcat.jsonld
  dcat/rdf/dcat.rdf
Labels: dcat, editorial
