Repository w3c/dxwg, pull requests merged in 2019-12, with the labels that each got.

#1185 Editorial fixes
  prof/index.html
Labels: editorial, profiles-vocabulary

#1189 Addressing Annette's poll comments and many more wording tidy-ups
  prof/index.html
Labels: profiles-vocabulary

#1190 PR for issue #1177
  dcat/index.html
Labels: dcat, editorial

#1194 Change RDF filename to dcat2.ttl
  dcat/index.html
  dcat/rdf/dcat.html
  dcat/rdf/dcat.jsonld
  dcat/rdf/dcat.rdf
  dcat/rdf/dcat2.jsonld
  dcat/rdf/dcat2.rdf
  dcat/rdf/dcat2.ttl
Labels: dcat

#1174 Update to Intro
  dcat/index.html
Labels: dcat, editorial
