Repository w3c/dxwg, pull requests merged in 2019-01, with the labels that each got.

#646 Changed text corresponding to dct:conformsTo for dcat:Distribution - …
  dcat/index.html
Labels: dcat

#645 Tidy up for closed issue #114
  dcat/index.html
Labels: dcat

#652 Editorial revision to sec "Quality Information"
  dcat/config.js
  dcat/index.html
Labels: dcat, quality

#650 Additional text on scope of DCAT
  dcat/index.html
  dcat/rdf/dcat.ttl
Labels: dcat, dcat:Resource

#665 Updated URL of MDR-AR
  dcat/config.js
Labels: dcat

#666 Updated URL of MDR-AR
  dcat/config.js
Labels: dcat

#669 Editorial revisions
  dcat/index.html
Labels: dcat

#672 DCAT issue #670 - Eliminate 'smushing'.
  dcat/index.html
  dcat/rdf/dcat.ttl
Labels: dcat, dcat:Catalog, editorial

#654 Dcat issue58 changing conformance examples to dwbp riccardo
  dcat/config.js
  dcat/index.html
Labels: dcat

#674 Added @id attr to examples + editorial changes
  dcat/config.js
  dcat/index.html
Labels: dcat

#651 DCAT issue #79 - Qualified relationships between datasets and other resources
  dcat/examples/csiro-dap-examples.ttl
  dcat/examples/relation-examples.ttl
  dcat/index.html
  dcat/rdf/dcat-prov.ttl
  dcat/rdf/dcat-qualrel.ttl
  dcat/rdf/dcat.ttl
Labels: dcat, dcat:Dataset, dcat:Resource

#656 DCAT issue #432 - further clarification of the DataService hierarchy
  dcat/UML/DCAT-summary-all-attributes.png
  dcat/index.html
  dcat/rdf/dcat.ttl
Labels: dcat, dcat:DataService

#682 Align document with RDF content
  dcat/index.html
Labels: dcat, editorial

#647 Addressing #457
  dcat/index.html
Labels: dcat, editorial

#694 Removed entries now in Specref
  profiles/config.js
Labels: profile-guidance

#685 Dcat issue79 - general qualified-forms pattern documented
  dcat/UML/DCAT-Relationships.png
  dcat/config.js
  dcat/index.html
  dcat/rdf/dcat.ttl
Labels: dcat

#699 Added script to cross-ref examples
  dcat/index.html
Labels: dcat

#692 Sundry editorial/html fixes
  dcat/examples/eea-csw.ttl
  dcat/index.html
Labels: dcat, editorial

#664 removal of all references to Base Specification class
  profilesont/README.md
  profilesont/diagrams.pptx
  profilesont/examples/README.md
  profilesont/examples/adms.ttl
  profilesont/examples/dcat.svg
  profilesont/examples/dccat-ap.svg
  profilesont/examples/eg_dcat-ap.png
  profilesont/examples/eg_dcat.png
  profilesont/examples/eg_ga.ttl
  profilesont/examples/profilesont_examples.ttl
  profilesont/index.html
  profilesont/profilesont.png
  profilesont/profilesont.svg
  profilesont/profilesont.ttl
  profilesont/profilesont.vsdx
Labels: profile-description

#706 Issue 642
  profilesont/examples/isInheritedFrom.svg
  profilesont/index.html
Labels: profile-description

#684 Editorial fixes
  ucr/config.js
  ucr/index.html
Labels: ucr

#713 Fix links to github via config.js
  dcat/config.js
Labels: dcat, editorial

#717 DCAT Issue 248 - Adding license and rights properties to specific classes
  dcat/index.html
Labels: dcat, editorial
