Repository w3c/dxwg, pull requests merged in 2020-04, with the labels that each got.

#1229 Remove 'inherited' wrt properties of superclasses
  dcat/index.html
Labels: Editorial, dcat, dcat:Catalog, dcat:DataService, dcat:Dataset

#1232 schema:url equivalent to foaf:page
  dcat/rdf/dcat-schema.ttl
Labels: dcat

#1234 correct WKT datatype
  dcat/examples/spatial-properties.jsonld
  dcat/examples/spatial-properties.ttl
  dcat/index.html
  dcat/rdf/dcat-external.jsonld
  dcat/rdf/dcat-external.rdf
  dcat/rdf/dcat-external.ttl
  dcat/rdf/dcat2.jsonld
  dcat/rdf/dcat2.rdf
  dcat/rdf/dcat2.ttl
Labels: bug, dcat, dct:spatial

#1236 Acknowledgments dcat3
  dcat/index.html
Labels: Editorial, dcat

#1226 Pr implementing suggestion in issue #1221
  dcat/index.html
  dcat/rdf/dcat2.ttl
Labels: dcat
