Repository w3c/dxwg, pull requests merged in 2020-10, with the labels that each got.

#1257 Revision to the versioning section
  dcat/config.js
  dcat/index.html
Labels: dcat, versioning

#1259 Changing title and adding a new section for tracking changes since latest DCAT 2 rec
  dcat/index.html
Labels: dcat

#1239 mediaType a subPropertyOf encodingFormat
  dcat/rdf/dcat-schema.ttl
Labels: dcat

#1244 Dcat changing example using dct relation
  dcat/examples/csiro-stratchart.jsonld
  dcat/examples/csiro-stratchart.ttl
  dcat/index.html
Labels: dcat

#1261 Replace https: with http: in IANA URIs
  dcat/index.html
Labels: Editorial, dcat
