Repository w3c/dxwg, pull requests merged in 2020-11, with the labels that each got.

#1264 This PR is to review and accept the Danish translation of DCAT
  dcat/rdf/dcat2.ttl
Labels: dcat, translation

#1265 Updating affiliations
  dcat/config.js
Labels: Editorial, dcat

#1267 Dcat align Danish translation into jsonld and RDF/XML
  dcat/rdf/dcat2.jsonld
  dcat/rdf/dcat2.rdf
Labels: dcat, translation

#1262 Add draft section for dataset series
  dcat/index.html
Labels: dataset-series, dcat

#1260 Remove domain & range indication in dct:hasPart
  dcat/index.html
Labels: dcat, dcat:Catalog, dct:hasPart

#1269 replacing occurence of 'in this revision of DCAT' by 'DCAT 2'
  dcat/index.html
Labels: Editorial, dcat

#1279 Add links to newly created issues
  dcat/index.html
Labels: Editorial, dcat

#1274 adjusting note and issues
  dcat/index.html
Labels: Editorial, dcat

#1281 Add link to issue about version identifiers
  dcat/index.html
Labels: Editorial, dcat, versioning

#1270 preparing config for FPWD
  dcat/config.js
Labels: Editorial, dcat

#1282 Correcting Riccardo's web page
  dcat/config.js
Labels: Editorial, dcat

#1283 Dcat rdfs date update
  dcat/rdf/dcat2.jsonld
  dcat/rdf/dcat2.rdf
  dcat/rdf/dcat2.ttl
Labels: Editorial, dcat
