Repository w3c/dxwg, pull requests merged in 2021-05, with the labels that each got.

#1360 Revise usage notes of dcat:bbox and dct:centroid
  dcat/index.html
  dcat/rdf/dcat3.jsonld
  dcat/rdf/dcat3.rdf
  dcat/rdf/dcat3.ttl
Labels: Editorial, dcat, feedback

#1368 Update summary diagram -
  dcat/images/DCAT Simple.png
  dcat/images/DCAT-summary-all-attributes.png
Labels: dcat

#1372 Adjusting DCAT scope sections after the class diagram update
  dcat/index.html
Labels: Editorial, dcat

#1361 Dcat issue 1155
  dcat/examples/basic-example.jsonld
  dcat/examples/basic-example.ttl
  dcat/examples/classifying-types.jsonld
  dcat/examples/classifying-types.ttl
  dcat/index.html
Labels: dcat

#1370 changing definition dcat:catalog according to #1156
  dcat/index.html
  dcat/rdf/dcat3.jsonld
  dcat/rdf/dcat3.rdf
  dcat/rdf/dcat3.ttl
Labels: Editorial, dcat
