Repository w3c/dxwg, pull requests merged in 2021-04, with the labels that each got.

#1344 Editorial Changes On References to open Issues
  dcat/index.html
Labels: Editorial, dcat

#1339 Add examples in licensing section
  dcat/config.js
  dcat/index.html
Labels: dcat, dct:accessRights, dct:license, odrl:hasPolicy

#1340 Issue #1308
  dcat/config.js
  dcat/index.html
Labels: dataset-series, dcat

#1345 Replace URI with IRI throughout the document & al.
  dcat/index.html
Labels: Editorial, dcat

#1348 new attempt to solve 1246 ( adding altLabel instead of changing rdfs:label)
  dcat/index.html
  dcat/rdf/dcat3.jsonld
  dcat/rdf/dcat3.rdf
  dcat/rdf/dcat3.ttl
Labels: dcat

#1318 Update ack section
  dcat/index.html
Labels: Editorial, dcat

#1353 Extended basic examples to include titles, labels and keywords in Spa…
  dcat/index.html
Labels: dcat

#1326 Recommend byteSize typed as an integer (not decimal)
  dcat/index.html
Labels: dcat, dcat:Distribution

#1354 Minor addition to change history
  dcat/index.html
Labels: Editorial, dcat
