Repository w3c/dxwg, pull requests merged in 2021-09, with the labels that each got.

#1396 correcting fig 1: dcar:record becomes dcat:record
  dcat/UML/dcat-all-attributes.drawio
  dcat/images/dcat-all-attributes.svg
Labels: dcat

#1325 Update usage note for 'identifier'
  dcat/index.html
Labels: dcat, identification

#1391 Add draft section on inverse properties
  dcat/index.html
Labels: dcat, inverse-properties

#1397 Adding new fig 7
  dcat/images/schema.org-dataset.drawio
  dcat/images/schema.org-dataset.png
  dcat/images/schema.org-dataset.svg
  dcat/index.html
Labels: dcat, Editorial

#1400 Issue 1252-second solution: deleting dcterm:publisher arrow starting from catalog
  dcat/UML/dcat-all-attributes.drawio
  dcat/images/dcat-all-attributes.svg
Labels: dcat, Editorial

#1401 PR for fixing #1394
  dcat/rdf/dcat2.jsonld
  dcat/rdf/dcat2.rdf
  dcat/rdf/dcat2.ttl
Labels: feedback

#1408 Issue 1402 : Removing axioms not in the HTML in the RDFs for DCAT3
  dcat/rdf/dcat3.jsonld
  dcat/rdf/dcat3.rdf
  dcat/rdf/dcat3.ttl
Labels: dcat
