Repository w3c/dxwg, pull requests merged in 2021-06, with the labels that each got.

#1376 updating reference for DCAT-AP-NO
  dcat/config.js
Labels: Editorial, dcat

#1382 Providing a svg for the main class diagram
  dcat/UML/DCAT-summary-all-attributes.svg
  dcat/UML/dcat-all-attributes.drawio
  dcat/UML/dcat-relationships.drawio
  dcat/UML/dcat-relationships.svg
  dcat/images/dcat-all-attributes.svg
  dcat/images/dcat-relationships.svg
  dcat/index.html
Labels: Editorial, dcat

#1378 Minor editorial (adb affiliation mod)
  dcat/config.js
Labels: Editorial, dcat

#1379 Dcat issue 1364 second solution
  dcat/index.html
  dcat/rdf/dcat3.jsonld
  dcat/rdf/dcat3.rdf
  dcat/rdf/dcat3.ttl
Labels: dcat, dcat:theme

#1385 Dcat issue 1374 Tris
  dcat/rdf/dcat3.jsonld
  dcat/rdf/dcat3.rdf
  dcat/rdf/dcat3.ttl
Labels: dcat
