Repository w3c/dxwg, pull requests merged in 2021-03, with the labels that each got.

#1309 Fix issue #1285
  dcat/index.html
Labels: Editorial, dcat

#1306 Fix range of locn:geometry in rdf
  dcat/rdf/dcat-external.jsonld
  dcat/rdf/dcat-external.rdf
  dcat/rdf/dcat-external.ttl
Labels: dcat, locn:geometry

#1303 Fix range of locn:geometry
  dcat/index.html
  dcat/rdf/dcat-external.jsonld
  dcat/rdf/dcat-external.rdf
  dcat/rdf/dcat-external.ttl
Labels: bug, dcat, locn:geometry

#1315 Replace dct: with dcterms:
  dcat/index.html
  dcat/rdf/dcat3.jsonld
  dcat/rdf/dcat3.rdf
  dcat/rdf/dcat3.ttl
Labels: Editorial, dcat

#1295 Revision to the versioning section in DCAT3 FPWD
  dcat/config.js
  dcat/images/version-backward-compatibility-dcat.drawio
  dcat/images/version-backward-compatibility-dcat.svg
  dcat/images/version-chain-and-hierarchy-dcat.drawio
  dcat/images/version-chain-and-hierarchy-dcat.svg
  dcat/images/version-chain-and-hierarchy.drawio
  dcat/images/version-chain-and-hierarchy.svg
  dcat/images/version-replace-dcat.drawio
  dcat/images/version-replace-dcat.svg
  dcat/images/version-replace.drawio
  dcat/images/version-replace.svg
  dcat/index.html
Labels: dcat, versioning

#1321 replacing title(s) without namespaces with dcterms:title in some examples
  dcat/index.html
Labels: Editorial, dcat

#1329 Minor editorial edits in the dcat:Resource section
  dcat/index.html
Labels: Editorial, dcat

#1310 Add recommendations on the URIs to be used with dcterms:conformsTo
  dcat/index.html
Labels: dcat, dct:conformsTo

#1324 Removing reference to closed issue 1258
  dcat/index.html
Labels: Editorial, dcat

#1323 Add distribution digest
  dcat/config.js
  dcat/index.html
Labels: dcat, dcat:Distribution

#1292 Dataset series v2 (issue 1272)
  dcat/index.html
Labels: dataset-series, dcat
