Repository w3c/dxwg, pull requests merged in 2021-11, with the labels that each got.

#1417 Editorial fix to DCAT2 implementation report
  dcat-implementation-report/config.js
  dcat-implementation-report/index.html
Labels: dcat, Editorial

#1421 adding 'rdfs:Literals typed as' in the ranges of spatialResolutionInM…
  dcat/index.html
Labels: dcat, Editorial

#1422 Fix URL for dcat:byteSize
  dcat/index.html
Labels: dcat, Editorial, feedback

#1423 Editorial revision to definitions of locn:geometry, dcat:bbox, dcat:centroid
  dcat/index.html
  dcat/rdf/dcat-external.jsonld
  dcat/rdf/dcat-external.rdf
  dcat/rdf/dcat-external.ttl
  dcat/rdf/dcat3.jsonld
  dcat/rdf/dcat3.rdf
  dcat/rdf/dcat3.ttl
Labels: dcat, Editorial, feedback, locn:geometry

#1424 Removing 'dct:reference :d33937.owl;' and statements about ':d33937.o…
  dcat/examples/csiro-stratchart_dcat3.ttl
  dcat/index.html
Labels: Editorial

#1369 Update ack section
  dcat/index.html
Labels: dcat, Editorial

#1430 HTML and link fixes
  dcat/index.html
Labels: dcat, Editorial
