Repository w3c/dxwg, pull requests merged in 2022-03, with the labels that each got.

#1463 Fix typo in Example 15
  dcat/examples/vocab-dcat-3/identifier-types.jsonld
  dcat/examples/vocab-dcat-3/identifier-types.rdf
  dcat/examples/vocab-dcat-3/identifier-types.ttl
  dcat/index.html
Labels: dcat, Editorial, feedback

#1470 Add property dcat:resource
  dcat/index.html
Labels: dcat, dcat:Catalog, dct:hasPart

#1458 PR to refine the message about dataset series' member (issue 1429)
  dcat/index.html
Labels: dcat, dataset-series

#1474 Fixed example
  dcat/examples/vocab-dcat-3/dryad-globtherm-sdata.ttl
Labels: dcat, Editorial

#1473 Add example on how to combine series and versions
  dcat/examples/vocab-dcat-3/series-version.rdf
  dcat/examples/vocab-dcat-3/series-versions.jsonld
  dcat/examples/vocab-dcat-3/series-versions.ttl
  dcat/index.html
Labels: dcat, versioning, Editorial, dataset-series

#1475 Delete the cardinality as indicated in last meeting resolution
  dcat/images/dcat-all-attributes.drawio
  dcat/images/dcat-all-attributes.svg
  dcat/index.html
Labels: dcat

#1472 Update class diagram according to #1470
  dcat/UML/DCAT-Relationships.png
  dcat/UML/DCAT-summary-all-attributes.png
  dcat/UML/DCAT-summary-all-attributes.svg
  dcat/UML/dcat-all-attributes.drawio
  dcat/UML/dcat-relationships.svg
  dcat/images/Asset.png
  dcat/images/DCAT-relationships.png
  dcat/images/DCAT-summary-all-attributes.png
  dcat/images/DCAT-summary.png
  dcat/images/Research dataset profile.png
  dcat/images/Resource+Representation.png
  dcat/images/Resources.png
  dcat/images/Standard.png
  dcat/images/dcat-all-attributes.drawio
  dcat/images/dcat-all-attributes.svg
  dcat/images/dcat-relationships.drawio
  dcat/images/schema.org-dataset.png
  dcat/index.html
Labels: dcat, Editorial

#1478 Adding files for dataset series examples (numbers 37 and 38)
  dcat/examples/vocab-dcat-3/series-membership.jsonld
  dcat/examples/vocab-dcat-3/series-membership.rdf
  dcat/examples/vocab-dcat-3/series-membership.ttl
  dcat/examples/vocab-dcat-3/series-releases.jsonld
  dcat/examples/vocab-dcat-3/series-releases.rdf
  dcat/examples/vocab-dcat-3/series-releases.ttl
Labels: dcat, Editorial

#1452 Charter 2022
  charter/charter-2022.html
Labels: status, future-work

#1484 Add dcat:inCatalog as dcat:resource's inverse
  dcat/index.html
Labels: dcat, inverse-properties

#1476 DCAT updating change history
  dcat/index.html
Labels: dcat, Editorial

#1486 DCAT updating change history adding #1484
  dcat/index.html
Labels: dcat, Editorial

#1482 Updates to RDF
  dcat/rdf/dcat3-external.jsonld
  dcat/rdf/dcat3-external.rdf
  dcat/rdf/dcat3-external.ttl
  dcat/rdf/dcat3.jsonld
  dcat/rdf/dcat3.rdf
  dcat/rdf/dcat3.ttl
Labels: dcat, dcat:Catalog, dct:hasPart

#1491 Fix inconsistent use of "item" and "resource"
  dcat/index.html
Labels: dcat, Editorial

#1488 Add example on the use of dcterms:conformsTo with dcat:CatalogRecord
  dcat/examples/catalog-record-schema.jsonld
  dcat/examples/catalog-record-schema.rdf
  dcat/examples/catalog-record-schema.ttl
  dcat/examples/dryad-globtherm-sdata.ttl
  dcat/index.html
Labels: dcat, dcat:CatalogRecord, Editorial, dct:conformsTo

#1497 replacing colon namespace and a:
  dcat/examples/vocab-dcat-3/dataset-002.jsonld
  dcat/examples/vocab-dcat-3/dataset-002.rdf
  dcat/examples/vocab-dcat-3/dataset-002.ttl
  dcat/examples/vocab-dcat-3/dataset-003.jsonld
  dcat/examples/vocab-dcat-3/dataset-003.rdf
  dcat/examples/vocab-dcat-3/dataset-003.ttl
  dcat/examples/vocab-dcat-3/dataset-004-sdo.jsonld
  dcat/examples/vocab-dcat-3/dataset-004-sdo.rdf
  dcat/examples/vocab-dcat-3/dataset-004-sdo.ttl
  dcat/examples/vocab-dcat-3/dataset-004.jsonld
  dcat/examples/vocab-dcat-3/dataset-004.rdf
  dcat/examples/vocab-dcat-3/dataset-004.ttl
  dcat/examples/vocab-dcat-3/dryad-globtherm-sdata.jsonld
  dcat/examples/vocab-dcat-3/dryad-globtherm-sdata.rdf
  dcat/examples/vocab-dcat-3/dryad-globtherm-sdata.ttl
  dcat/examples/vocab-dcat-3/eea-csw.jsonld
  dcat/examples/vocab-dcat-3/eea-csw.rdf
  dcat/examples/vocab-dcat-3/eea-csw.ttl
  dcat/examples/vocab-dcat-3/genoa-busstop.jsonld
  dcat/examples/vocab-dcat-3/genoa-busstop.rdf
  dcat/examples/vocab-dcat-3/genoa-busstop.ttl
  dcat/examples/vocab-dcat-3/service1.jsonld
  dcat/examples/vocab-dcat-3/service1.rdf
  dcat/examples/vocab-dcat-3/service1.ttl
  dcat/index.html
Labels: dcat
