Repository w3c/dxwg, pull requests merged in 2022-02, with the labels that each got.

#1450 deleted the reference to issue 1336 in DCAT PWD
  dcat/index.html
Labels: dcat, inverse-properties

#1449 Dcat issue 1437
  dcat/examples/vocab-dcat-3/compress-and-package.jsonld
  dcat/examples/vocab-dcat-3/compress-and-package.rdf
  dcat/examples/vocab-dcat-3/compress-and-package.ttl
  dcat/index.html
Labels: dcat, dcat:accessURL

#1453 Deleted references to closed issues
  dcat/index.html
Labels: dcat, Editorial

#1455 Editorial changes to Notes
  dcat/index.html
Labels: dcat, Editorial

#1466 Align definitions of dcterms:hasPart and its sub-properties
  dcat/index.html
Labels: dcat, dcat:Catalog, Editorial
