Repository w3c/dxwg, pull requests merged in 2022-05, with the labels that each got.

#1501 Adding aligment to sdo:CreativeWorkSeries
  dcat/index.html
Labels: dcat, Editorial, dataset-series

#1505 Addressing issue #1503
  dcat/index.html
  dcat/rdf/dcat3.jsonld
  dcat/rdf/dcat3.rdf
  dcat/rdf/dcat3.ttl
Labels: dcat

#1511 Finalization of Fig 1
  dcat/images/dcat-all-attributes.drawio
  dcat/images/dcat-all-attributes.svg
  dcat/index.html
Labels: dcat, Editorial

#1512 Drafting a health note to discuss issue 959
  dcat/index.html
Labels: dcat
