Repository w3c/dxwg, pull requests merged in 2022-11, with the labels that each got.

#1537 Properties without specified domains
  dcat/index.html
Labels: dcat, Editorial

#1538 Updating dcat3-external.*
  dcat/rdf/dcat3-external.jsonld
  dcat/rdf/dcat3-external.rdf
  dcat/rdf/dcat3-external.ttl
Labels: dcat

#1542 Adding some explanation about metadata integrity and authenticity
  dcat/index.html
Labels: dcat

#1547 Addressing 1539
  dcat/index.html
Labels: dcat, Editorial, feedback

#1546 Fixed typo
  dcat/index.html
Labels: dcat, Editorial, feedback

#1545 Addressing #1540 - schema.org aligment
  dcat/rdf/dcat-schema.ttl
Labels: dcat

#1544 listing dcat:hasVersion as subproperty of dcterms:hasVersion in dcter…
  dcat/index.html
  dcat/rdf/dcat3-external.jsonld
  dcat/rdf/dcat3-external.rdf
  dcat/rdf/dcat3-external.ttl
Labels: dcat
